<p>
    Welcome!
</p>

<div class="row">
    <div class="col-md-3 text-center"></div>
    <div class="col-md-6 text-center">
        <div class="form-group">
            <label for="user-name">username: </label>
            <input class="form-control" id="user-name" placeholder="username"/>
        </div>
        <div class="form-group">
            <label for="password-text">password: </label>
            <input type="password" class="form-control" id="password-text" placeholder="password"/>
        </div>
        <button class="btn btn-primary">Login</button>
    </div>
    <div class="col-md-3 text-center"></div>
</div>
